<div>
  <h3>Pool</h3>
  <% if !@pool.entries.map(&:user).include? current_user %>
    <%= link_to 'Join Pool', new_pool_entry_path(pool_id: @pool.id) %>
  <% end %>
  <table class="minimal-table">
    <thead>
      <th>Entries</th>
      <th>Scores</th>
      <th></th>
    </thead>
    <% @pool.entries.each do |e| %>
      <tr>
        <td><%= e.name %></td>
        <td>
          <%= e.score %></td>
        </td>
        <td>
          <% if policy(e).show? %>
            <%= link_to 'View Entry', entry_path(id: e.id) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
